.order-manage__heading {
  display: flex;
  justify-content: space-between;
  align-items: center;
}

.order-manage__card {
  border: 1px solid rgba(0, 0, 0, 0.125);
  border-radius: 0.5rem;
  margin: 16px 0;
  padding: 16px;
  box-shadow: 0 3px 6px rgba(0, 0, 0, 0.16), 0 3px 6px rgba(0, 0, 0, 0.23);

  &-header {
    display: flex;
    justify-content: space-between;
    font-weight: bold;
    margin-bottom: 8px;
  }

  &-status {
    &-list {
      margin-bottom: 8px;
      span {
        border-radius: 8px;
        margin-right: 5px;
        padding: 3px 10px;
        font-size: 12px;
      }
    }
    &-unpaid {
      background: #ffc58b;
    }

    &-ready {
      background: #bbe5b3;
    }

    &-in-progress {
      background: #b4e1fa;
    }

    &-paid {
      background: #dfe3e8;
    }
  }
}
