.App {
  display: flex;
  flex-direction: row;
  width: 100%;
}

.main-pane {
  width: 100%;
  display: flex;
  flex-direction: column;
}

.margin0 {
  margin: 0;
}

.app-btn {
  border-radius: 8px;
  padding: 0.2rem 1rem;
}

.primary-btn {
  background-color: #009de0;
  border-color: #009de0;
  color: #fff;
}

.secondary-btn {
  background-color: #fff;
  border: 1px solid #000;
}

.full-btn {
  width: 100%;
}

.tab {
  display: flex;
  margin-bottom: 16px;
  border-radius: 8px;

  .tablinks {
    text-align: center;
  }
}

input[type="submit"] {
  color: #fff;
}

button,
input[type="submit"],
input[type="reset"] {
  background: none;
  color: inherit;
  border: none;
  padding: 0;
  font: inherit;
  cursor: pointer;
  outline: inherit;
}

ul {
  list-style: none;
  padding-left: 1rem;
}

.layout-container {
  padding: 16px;
}

.card {
  box-shadow: 0 4px 12px 0 rgba(32, 33, 37, 0.06);
  transition: box-shadow 300ms ease-in-out;
  padding: 8px;
}

.item-modal {
  label {
    margin-right: 10px;
    min-width: 120px;
  }
  .fillings {
    input[type="radio"] {
      margin: 0 8px;
    }
  }

  input[type="number"] {
    width: 30px;
  }

  .btn {
    margin: 0 3px;
  }
}
